body {
  margin: 0;
  height: 100%;
  width: 100%;
}

div.section {
  background-color: black;
  text-align: center;
}

div.landing {

}

h1#landing-header {
  /*padding-top: 40vh;*/
  color: steelblue;
  font-family: 'Biryani', sans-serif;
  font-size: 100px;
}

h1#video {
  /*padding-top: 40vh;*/
  color: red;
  font-family: 'Biryani', sans-serif;
  font-size: 100px;
}

h1#audio {
  /*padding-top: 40vh;*/
  color: red;
  font-family: 'Biryani', sans-serif;
  font-size: 100px;
}

ul#landing-description {
  color: white;
  list-style-type: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

